body{
	background-color: gray;
}
header{

	text-align: center;
	background-color: black;
}
#container{
	display: flex;
}
nav ul li{

	display: inline;
text-decoration: none;
list-style: none;
align-content: center;
}
#sidebar{
	float: left;
	width: 25%;
	height: 1000px;
	background-image: url(../pictures/25657334-poster-barbershop.jpg) ;
	background-size: contain;

}
div{
background-color: gray;
}
#div-conatainer{
	background-color: red;
}
